body {
    background-color: white;
    overflow-x: hidden;
  }

  #particles-js {
    position: relative;
    width: 100vw;
    height: 50vh;
    background-color: black;
    background-repeat: no-repeat;
    z-index: 1;
  }
  
  .content {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
  
  #quarto-document-content {
    padding-top: 0px;
  }

  #index-text {
    position: relative;
    left: 50%;
    transform: translate(-50%, 25%);
    color: var(--font-color);
    text-align: left;
    z-index: 2;
    max-width: 50%;
    margin: 16px;
    padding: 8px;
  }

  h2 {
    border-bottom: 0px;
  }