/* Body styling */
body {
    background-color: white;
    overflow-x: hidden;
}
  
#quarto-document-content {
    padding-top: 0px;
}

/* Text styling */
#particles-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-align: center;
    z-index: 2;
}

#index-text {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    color: var(--font-color);
    text-align: left;
    z-index: 2;
    max-width: 50%;
    margin: 16px;
    padding: 8px;
}

@media (max-width: 480px) {
    #particles-text { 
        max-width: 100%;
        margin: 8px;
    }
    #index-text {
        max-width: 100%;
        margin: 8px;
    }
  }

h2 {
    border-bottom: 0px;
}

#particles-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    background-color: white;
    text-align: center;
    z-index: 2;
    max-width: 50%;
    padding: 8px;
    font-size: 1em;
}

/* Particles styling */
#particles-js {
    position: relative;
    width: 100vw;
    height: 50vh;
    background-color: #ffffff;
    background-repeat: no-repeat;
    z-index: 1;
} 

.content {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }